<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p><img src="<%= img %>"></p>
    <a href="/<%= link %>">keep going</a>
  </body>
</html>
