<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>song and dance here <%= title %></p>
   <a href="http://i.ytimg.com/vi/1_47KVJV8DU/mqdefault.jpg"></a>
    <a><img /></a>
  </body>
</html>